@media screen and (min-width: 480px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
 /* section {
    max-width: 660px;
  }*/
  

  
  /**********************************
  PAGE: PORTFOLIO
  ***********************************/
  

  
  /**********************************
  PAGE: ABOUT
  ***********************************/
  


@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/

/*  section {
  max-width: 660px;
}*/
  
  
}
