@media screen and (min-width: 480px) {
  
  /**********************************
  HEADER
  ***********************************/
    header {
      font-size: 1.4em;
    }
  
  /**********************************
  PAGE: HOME
  ***********************************/
/*  h1 {
    font-size: 2em;
  }
  p, li {
    font-size: 1em
  }*/
  /**********************************
  PAGE: FAMILY
  ***********************************/
  

  
  /**********************************
  PAGE: CAREER
  ***********************************/
  

  /**********************************
  PAGE: ME 2.0
  ***********************************/

  /**********************************
  PAGE: ME 2.0
  ***********************************/
  
@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/
 header {
      font-size: 1.8em;
    }
  /**********************************
  PAGE: HOME
  ***********************************/
  
  /**********************************
  PAGE: FAMILY
  ***********************************/
  

  
  /**********************************
  PAGE: CAREER
  ***********************************/
  

  /**********************************
  PAGE: ME 2.0
  ***********************************/

  /**********************************
  PAGE: ME 2.0
  ***********************************/
  
  
}
